.List {
  background-color: #f4edeb;
  padding-bottom: 20px;
}

.List-header {
}

.List-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.view-btn {
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 5px 10px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #49433d;
  background-color: #fafafa;
  display: block;
  margin: 14px auto 0 auto;
  width: 90px;
}

.view-btn:hover {
  background-color: #eee;
}
